.whyustext{
    margin-top: 10%;
    color: black;
}
.whyustext h1{
    margin-top: 0% ;
}

.missionvid{
    margin-left: 0;
    margin-top: 0%;
    height: 50%;
    width: 50%;
}

.heading h1 {
    margin:auto;
    line-height:51px;
    vertical-align:middle;
    margin-top: 5%;
}

.cardexpand{
    padding-left: 30px;
    padding-top: 100px;
    padding-bottom: 30px;
}